<!-- About Section -->
<section class="bg-warning" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Academic Background</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p>
            <ul>
                <li>Currently pursuing a Software Development Advanced Diploma at Mohawk College, with a focus on Java, and JavaScript.</li>
                <li>Relevant courses include: Programming in Java, Client-Side Web Programming, Server-Side Web Programming, and Programming in .NET, where I gained hands-on experience in Java concepts, JavaScript, HTML/CSS, PHP and Bootstrap5.</li>
                <li>Expected to graduate in December 2025</li>
                <li>Dean's Honors List - Winter 2023</li>
                <li>Dean's Honors List - Summer 2023</li>
            </ul>
          </p>
        </div>
        </div>      
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://github.com/KienHocCode1/" class="btn btn-lg btn-outline">
            <i class="fa fa-link"></i> Link to my GitHub
          </a>
        </div>
      </div>
    </div>
  </section>
  