<div class="container text-center">
    <h2>Techical Skills</h2>
    <hr class="my-4 double-line">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><i class="fab fa-java java-icon"></i> Java</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><i class="fab fa-js javascript-icon"></i> JavaScript</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><i class="fab fa-php php-icon"></i> PHP</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><i class="fab fa-html5 html-css-icon"></i> HTML/CSS</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><i class="fas fa-database mysql-icon"></i> MySQL</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li><i class="fab fa-python python-icon"></i> Python</li>
            </ul>
        </div>
    </div>
</div>
